


body{
    direction: rtl;
    background-color:#ff7f50 ;
}

h1{
    text-align: center;
}

form{
    width: 85%;
    background-color:#95c9b2 ;
    padding: 26px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    margin: auto;
    max-width: 700px;

}

div{
    margin-bottom: 7.5px;
}

label{
    display: block;
}

input{
    padding: 5px;
    border-radius: 5px;
    border:1px solid black ;
    border: none;
}
select{
    padding: 7px;
    width:150px;
    border-radius: 5px;
    border:1px solid black ;
    outline: none;
    border: none;
    display: block;
    margin-top: 5px;
}